.landing {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #EDF7FF;
}

body {
  margin: 0;
  background-color: #EDF7FF;
}
